<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>About</header>
    <h1>About Yoshi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis
      dolorem rem provident excepturi quibusdam ipsam molestiae ab labore
      deleniti quo iure dolores, fugiat exercitationem placeat! Deserunt quis
      exercitationem dolorem qui? Laboriosam totam, laudantium molestiae itaque,
      voluptates, delectus quisquam in minus modi debitis mollitia ratione saepe
      similique iste nobis praesentium.
    </p>
    <button>
      <a href="/">Hire me</a>
    </button>
  </body>
</html>
