<header class="flex justify-between container mx-auto h-12 items-center">
  <h1 class="site-title font-extrabold">express.js</h1>
  <ul class="flex justify-between gap-x-4">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</header>
