<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <p>
       the concept of requests and responses is central to building web servers
      and clients. The "http" module is used to create HTTP servers and clients
      that can send and receive HTTP requests and responses
    </p>
    <button>Hire me</button>
    <section>
      <h2>Skills</h2>
      <ul>
        <% if (stacks.length == 0){ %>
        <h1>No Stack found</h1>
        <% } %> <% stacks.map((stack) => { %>
        <li><%= stack %></li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
